################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MonitorInternetConnectionApplication/bin
/MonitorInternetConnectionApplication/obj
/MonitorInternetConnectionApplication/MonitorInternetConnectionApplication.csproj.user
/.vs
/packages
/MonitorInternetConnectionUnitTests/bin/Debug
/MonitorInternetConnectionUnitTests/obj/Debug
/MonitorInternetConnectionUnitTests/bin/Release
/MonitorInternetConnectionUnitTests/obj/Release
